<a href="https://colab.research.google.com/github/KaanErdogdu/Prjoject_1_RFM_Analysis/blob/master/RFM_Deneme.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
from scipy.stats.mstats import winsorize
from sqlalchemy import create_engine
import warnings
from datetime import datetime as dt, timedelta
import datetime as dt



warnings.filterwarnings('ignore')
sns.set(style="whitegrid")
baslik_font = {'family': 'arial', 'color': 'darkred','weight': 'bold','size': 13 }
eksen_font  = {'family': 'arial', 'color': 'darkblue','weight': 'bold','size': 10 }

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
projectData=pd.read_csv("RFM _Raw_Data.csv")

In [0]:
projectData.head()

                             cd_user_id  ...  Quantity
0  67A9CBA3-FDC3-E811-90F9-00155D619647  ...        10
1  67A9CBA3-FDC3-E811-90F9-00155D619647  ...        10
2  67A9CBA3-FDC3-E811-90F9-00155D619647  ...         9
3  67A9CBA3-FDC3-E811-90F9-00155D619647  ...        30
4  5606F992-F6CA-E911-80CB-00155D61134E  ...        15

[5 rows x 6 columns]

In [0]:
projectData.columns = ['User_ID', 'SignUp_Date', 'Transaction_ID', 'Date', 'Revenue','Quantity']

In [0]:
projectData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179261 entries, 0 to 179260
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   User_ID         179261 non-null  object
 1   SignUp_Date     179261 non-null  int64
 2   Transaction_ID  179261 non-null  object
 3   Date            179261 non-null  int64
 4   Revenue         179261 non-null  float64
 5   Quantity        179261 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 8.2+ MB

In [0]:
projectData['DateTime'] = projectData['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
projectData['DateTime']

0        2020-04-30
1        2020-04-30
2        2020-05-14
3        2020-04-15
4        2020-04-21
            ...
179256   2020-02-12
179257   2020-04-26
179258   2020-02-14
179259   2020-04-09
179260   2020-03-25
Name: DateTime, Length: 179261, dtype: datetime64[ns]

In [0]:
projectData['SignUp_DateTime'] = projectData['SignUp_Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
projectData['SignUp_DateTime']

0        2018-11-22
1        2018-11-22
2        2018-11-22
3        2018-11-22
4        2019-10-23
            ...
179256   2020-02-12
179257   2018-11-22
179258   2020-01-08
179259   2020-04-09
179260   2020-02-28
Name: SignUp_DateTime, Length: 179261, dtype: datetime64[ns]

In [0]:
projectData.head()

                                User_ID  SignUp_Date  ...   DateTime  SignUp_DateTime
0  67A9CBA3-FDC3-E811-90F9-00155D619647     20181122  ... 2020-04-30       2018-11-22
1  67A9CBA3-FDC3-E811-90F9-00155D619647     20181122  ... 2020-04-30       2018-11-22
2  67A9CBA3-FDC3-E811-90F9-00155D619647     20181122  ... 2020-05-14       2018-11-22
3  67A9CBA3-FDC3-E811-90F9-00155D619647     20181122  ... 2020-04-15       2018-11-22
4  5606F992-F6CA-E911-80CB-00155D61134E     20191023  ... 2020-04-21       2019-10-23

[5 rows x 8 columns]

In [0]:
projectData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179261 entries, 0 to 179260
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   User_ID          179261 non-null  object
 1   SignUp_Date      179261 non-null  int64
 2   Transaction_ID   179261 non-null  object
 3   Date             179261 non-null  int64
 4   Revenue          179261 non-null  float64
 5   Quantity         179261 non-null  int64
 6   DateTime         179261 non-null  datetime64[ns]
 7   SignUp_DateTime  179261 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(2)
memory usage: 10.9+ MB

In [0]:
projectData.nunique()

User_ID            143728
SignUp_Date           551
Transaction_ID     178819
Date                  150
Revenue             13529
Quantity               37
DateTime              150
SignUp_DateTime       551
dtype: int64

In [0]:
projectData.describe()

        SignUp_Date          Date        Revenue       Quantity
count  1.792610e+05  1.792610e+05  179261.000000  179261.000000
mean   2.019537e+07  2.020040e+07    2205.070735       1.392645
std    7.959716e+03  1.149898e+02    3271.647456       1.370745
min    2.018112e+07  2.020010e+07       0.000000       0.000000
25%    2.019073e+07  2.020033e+07     219.000000       1.000000
50%    2.020040e+07  2.020042e+07    1049.000000       1.000000
75%    2.020043e+07  2.020051e+07    3099.000000       1.000000
max    2.020053e+07  2.020053e+07  128970.000000      80.000000

In [0]:
projectData.isnull().sum()

User_ID            0
SignUp_Date        0
Transaction_ID     0
Date               0
Revenue            0
Quantity           0
DateTime           0
SignUp_DateTime    0
dtype: int64

In [0]:
projectData_SignUpDate = projectData[['User_ID','SignUp_Date']]
projectData_SignUpDate=projectData_SignUpDate.drop_duplicates()

In [0]:
projectData_SignUpDate.head()

                                 User_ID  SignUp_Date
0   67A9CBA3-FDC3-E811-90F9-00155D619647     20181122
4   5606F992-F6CA-E911-80CB-00155D61134E     20191023
6   C069BAC5-01C4-E811-90F9-00155D619647     20181122
8   4332E3E1-B203-EA11-80CC-00155D61134E     20191110
10  69CDE97A-F0C6-E811-90F9-00155D619647     20200410

In [0]:
projectData_RFM = projectData[['User_ID','DateTime','Transaction_ID','Quantity','Revenue']]

In [0]:
projectData_RFM.head()

                                User_ID   DateTime  ... Quantity    Revenue
0  67A9CBA3-FDC3-E811-90F9-00155D619647 2020-04-30  ...       10  128970.00
1  67A9CBA3-FDC3-E811-90F9-00155D619647 2020-04-30  ...       10  128970.00
2  67A9CBA3-FDC3-E811-90F9-00155D619647 2020-05-14  ...        9  122091.00
3  67A9CBA3-FDC3-E811-90F9-00155D619647 2020-04-15  ...       30  118670.00
4  5606F992-F6CA-E911-80CB-00155D61134E 2020-04-21  ...       15  103494.99

[5 rows x 5 columns]

In [0]:
projectData_RFM.nunique()

User_ID           143728
DateTime             150
Transaction_ID    178819
Quantity              37
Revenue            13529
dtype: int64

In [0]:
projectData_RFM['DateTime'].min(),projectData_RFM['DateTime'].max()

(Timestamp('2020-01-01 00:00:00'), Timestamp('2020-05-29 00:00:00'))

In [0]:
PRESENT = dt.datetime(2020,5,30)

In [0]:
rfm= projectData_RFM.groupby('User_ID').agg({'DateTime': lambda date: (PRESENT - date.max()).days,
                                        'Transaction_ID': lambda num: len(num),
                                        'Revenue': lambda price: price.sum()})

In [0]:
rfm.head()

                                      DateTime  Transaction_ID  Revenue
User_ID
00000000-0000-0000-0000-000000000000        73               2   3558.3
0000279A-87C8-E811-90F9-00155D619647        78               1    137.4
00003B79-3370-EA11-80D3-00155D7CD320        64               1   4199.0
0000A4AF-1986-EA11-80D4-00155D7CD320        36               1    477.0
00010E76-A380-EA11-80CE-00155D61134E        43               1    184.9

In [0]:
rfm.nunique()

DateTime            150
Transaction_ID       91
Revenue           18253
dtype: int64

In [0]:
rfm.columns=['recency','frequency','monetary']

In [0]:
rfm['monetary'] = rfm['monetary'].astype(int)
rfm['frequency'] = rfm['frequency'].astype(float)

In [0]:
rfm.head()

                                      recency  frequency  monetary
User_ID
00000000-0000-0000-0000-000000000000       73        2.0      3558
0000279A-87C8-E811-90F9-00155D619647       78        1.0       137
00003B79-3370-EA11-80D3-00155D7CD320       64        1.0      4199
0000A4AF-1986-EA11-80D4-00155D7CD320       36        1.0       477
00010E76-A380-EA11-80CE-00155D61134E       43        1.0       184

In [0]:
rfm['r_quartile'] = pd.qcut(rfm['recency'], 4, ['4','3','2','1'])

In [0]:
def pct_rank_qcut(series, n):
    edges = pd.Series([float(i) / n for i in range(n + 1)])
    f = lambda x: (edges >= x).argmax()
    return series.rank(pct=1).apply(f)

In [0]:
rfm['f_quartile'] = pct_rank_qcut(rfm['frequency'], 4)

In [0]:
rfm['m_quartile'] = pd.qcut(rfm['monetary'], 4, ['1','2','3','4'])

In [0]:
#rfm['f_quartile'] = pd.qcut(rfm['frequency'], 4, ['4','3','2','1']) çalışmıyor %25 ve %50 aralıkları 1 olduğu için

In [0]:
rfm.head()

                                      recency  frequency  ...  f_quartile m_quartile
User_ID                                                   ...
00000000-0000-0000-0000-000000000000       73        2.0  ...           4          4
0000279A-87C8-E811-90F9-00155D619647       78        1.0  ...           2          1
00003B79-3370-EA11-80D3-00155D7CD320       64        1.0  ...           2          4
0000A4AF-1986-EA11-80D4-00155D7CD320       36        1.0  ...           2          2
00010E76-A380-EA11-80CE-00155D61134E       43        1.0  ...           2          1

[5 rows x 6 columns]

In [0]:
#def func(x):
 ### if x <= 10:
  ##  return 1
  #elif x <=

In [0]:
rfm.head()

                                      recency  frequency  ...  f_quartile m_quartile
User_ID                                                   ...
00000000-0000-0000-0000-000000000000       73        2.0  ...           4          4
0000279A-87C8-E811-90F9-00155D619647       78        1.0  ...           2          1
00003B79-3370-EA11-80D3-00155D7CD320       64        1.0  ...           2          4
0000A4AF-1986-EA11-80D4-00155D7CD320       36        1.0  ...           2          2
00010E76-A380-EA11-80CE-00155D61134E       43        1.0  ...           2          1

[5 rows x 6 columns]

In [0]:
rfm['RFM_Score'] = rfm.r_quartile.astype(str) + rfm.f_quartile.astype(str) + rfm.m_quartile.astype(str)
rfm.head()

                                      recency  frequency  ...  m_quartile RFM_Score
User_ID                                                   ...
00000000-0000-0000-0000-000000000000       73        2.0  ...           4       144
0000279A-87C8-E811-90F9-00155D619647       78        1.0  ...           1       121
00003B79-3370-EA11-80D3-00155D7CD320       64        1.0  ...           4       124
0000A4AF-1986-EA11-80D4-00155D7CD320       36        1.0  ...           2       322
00010E76-A380-EA11-80CE-00155D61134E       43        1.0  ...           1       221

[5 rows x 7 columns]

In [0]:
# Filter out Top/Best cusotmers
rfm[rfm['RFM_Score']=='444'].sort_values('monetary', ascending=False).head()

                                      recency  frequency  ...  m_quartile RFM_Score
User_ID                                                   ...
C069BAC5-01C4-E811-90F9-00155D619647        1      210.0  ...           4       444
B0A19A45-D6D6-E911-80CC-00155D7CD320        1      297.0  ...           4       444
A4B41362-16FB-E911-80D1-00155D7CD320        2      211.0  ...           4       444
86417C10-026E-EA11-80D3-00155D7CD320        1      153.0  ...           4       444
C146B462-F0AF-E911-80CB-00155D61134E        2      120.0  ...           4       444

[5 rows x 7 columns]

In [0]:
RFM_with_SignUpDate = rfm.merge(projectData_SignUpDate,on = "User_ID", how= "left", )
RFM_with_SignUpDate.head(5)

                                User_ID  recency  ...  RFM_Score  SignUp_Date
0  00000000-0000-0000-0000-000000000000       73  ...        144     20181122
1  0000279A-87C8-E811-90F9-00155D619647       78  ...        121     20181122
2  00003B79-3370-EA11-80D3-00155D7CD320       64  ...        124     20200327
3  0000A4AF-1986-EA11-80D4-00155D7CD320       36  ...        322     20200424
4  00010E76-A380-EA11-80CE-00155D61134E       43  ...        221     20200417

[5 rows x 9 columns]

In [0]:
from google.colab import files
rfm.to_csv(path_or_buf='/content/signUp_RFMTeknosa.csv')

In [0]:
files.download('/content/signUp_RFMTeknosa.csv')

In [0]:
RFM_with_SignUpDate.describe()

             recency      frequency      monetary     f_quartile   SignUp_Date
count  143828.000000  143828.000000  1.438280e+05  143828.000000  1.438280e+05
mean       47.353818       1.257613  2.805010e+03       2.224504  2.019642e+07
std        34.013593       3.124631  1.763242e+04       0.631355  7.379618e+03
min         1.000000       1.000000  1.000000e+00       2.000000  2.018112e+07
25%        23.000000       1.000000  2.180000e+02       2.000000  2.020011e+07
50%        40.000000       1.000000  9.990000e+02       2.000000  2.020041e+07
75%        60.000000       1.000000  3.248000e+03       2.000000  2.020043e+07
max       150.000000     563.000000  2.807569e+06       4.000000  2.020053e+07